[user]
	name = Catstail
	email = maeltm18@gmail.com
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
[alias]
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(cyan)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(yellow)%d%C(reset)' --all
